{% extends 'base.html' %}
{% block title %}Log-in{% endblock %}
{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}

  <p>Incorrect Username or Password</p>

  {% else %}
  <p>Please, use the following form to log-in:</p>


  {% endif %}

  {% if done %}
  <p>{{done}}</p>
  {% endif %}
  <form method='post' action="">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type='submit' value='Log in'></p>
    <input type='hidden' name='next' value='{{ next }}' />
  </form>
  <p><a href={% url 'account:passwordreset'%}>Forgot Your Password</a></p>
  <p>Don't Have An Account , <a href={% url 'account:signup' %}>SignUp</a></p>
{% endblock %}
